h2, h1{
  color: red;  
}
h1{
    font-size: 30pt;
}
a{
    font-size: 20pt;
    text-decoration: none;
    color: darkgreen;
}
body{
    background-color: lightgray;
    margin: 0;
    font-family: sans-serif;
}
header{
    text-align: center;
    background-color: rgba(224, 83, 32, 0.829);
}
footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(224, 83, 32, 1);
}
nav{
    height: 100px;
    border-top: 2px solid red;
    border-bottom: 5px solid red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
img{
    width: 250px; 
    height: 250px;
}
#logotipo{
    width: 150px;
    height: 150px;
    position: absolute;
    right: 50px;
    top: 22px;
}
.sociais{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 10px;
}
aside{
    position: absolute;
    left: 0;
    width: 300px; 
    border-right: 4px dashed red;  
    height: 100vh;
    padding: 15px;
}
section{
    width: calc(110vw- 330px);
    margin-left: 330px;
    padding: 0 50px;
}




